{% extends "base.html" %}
{% block content %}

    <h2 class="mt-2 mb-3">{{ title }}</h2>

    <div class="row">
        <div class="col-sm-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Посмотреть список преподавателей</p>
                    <a href="{{ url_for('teachers') }}" class="btn btn-primary">Список преподавателей</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Редактировать существующего преподавателя</p>
                    <a href="{{ url_for('updateTeacherForm') }}" class="btn btn-primary">Редактировать</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Добавить нового преподавателя</p>
                    <a href="{{ url_for('insertTeacherForm') }}" class="btn btn-primary">Добавить</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Удалить существующего преподавателя</p>
                    <a href="{{ url_for('deleteTeacherForm') }}" class="btn btn-primary">Удалить</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}